<div class="d-flex align-items-center">
  <img src="../../../assets/images/{{ view }}.svg" width="50" alt="logo" />
  <h4 class="mb-0 ml-1">
    Latencia a prefijos <span class="text-primary">Open Signal</span>
  </h4>
</div>
<br />
<div class="card shadow">
  <div class="card-body altura-card-linechart">
    <app-boxload [show]="showLoadPing"></app-boxload>
    <h4 class="text-adjust">Reporte General por dia de latencias</h4>
    <p>
      Grafico representa el promedio de los valores obtenidos latencia a cada
      uno de los URLs por dia
    </p>
    <app-grafico-lineas-ngxcharts
      [results]="datosPing"
      [showYAxisLabel]="true"
      [yAxisLabel]="'ms'"
      [height]="280"
    >
    </app-grafico-lineas-ngxcharts>
  </div>
</div>
<br />
<!--GRAFICA STACKED BAR VERTICAL DE DISTRITOS-->
<div class="card shadow">
  <div class="card-body height-card-grouped-distritos">
    <h4 class="text-adjust">
      Comparativo de latencias entre operadores por distrito
    </h4>
    <p>Promedio corresponde a los ultimos 7 dias</p>
    <div class="form-inline">
      <mat-form-field appearance="fill">
        <mat-label>Departamento</mat-label>
        <mat-select
          [(ngModel)]="selectDep"
          (selectionChange)="onChangeDep($event)"
        >
          <mat-option *ngFor="let dep of departamentos" [value]="dep.nombre"
            >{{ dep.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Provincia</mat-label>
        <mat-select
          [(ngModel)]="selectProv"
          (selectionChange)="onChangeProv($event)"
        >
          <mat-option
            *ngFor="let prov of provincias2"
            [value]="prov._id.provincia"
            >{{ prov._id.provincia }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <app-boxload [show]="showLoadDistritosPing"></app-boxload>
    <app-ngxcharts-group-bar-horizontal
      [showXAxisLabel]="true"
      [showYAxisLabel]="false"
      [xAxisLabel]="'ms'"
      [yAxisLabel]="'Distritos'"
      [results]="datosDistrito"
      [height]="560"
    >
    </app-ngxcharts-group-bar-horizontal>
    <!-- <app-ngxcharts-stacked-bar-vertical
      [showXAxisLabel]="false"
      [showYAxisLabel]="true"
      [xAxisLabel]="'Localidades'"
      [yAxisLabel]="'ms'"
      [results]="datosDistrito"
      [height]="320"
    >
    </app-ngxcharts-stacked-bar-vertical> -->
  </div>
</div>
<br />
<div class="card shadow">
  <div class="card-header">
    <div class="d-flex justify-content-between mt-3">
      <h5>Reporte de latencias</h5>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-4">
        <div class="card border-0">
          <div class="card-body">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>URLs de Servidores</mat-label>
              <mat-select
                multiple
                [(ngModel)]="servidor"
                (selectionChange)="servidorChange($event)"
              >
                <mat-option
                  *ngFor="let nombre of urlsTutela"
                  [value]="nombre.ip"
                >
                  {{ nombre.ip }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Provincias</mat-label>
              <mat-select multiple (selectionChange)="provinciaChange($event)">
                <mat-option
                  *ngFor="let nombre of provincias"
                  [value]="nombre._id.provincia"
                >
                  {{ nombre._id.provincia }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Localidades</mat-label>
              <mat-select multiple (selectionChange)="localidadChange($event)">
                <mat-option
                  *ngFor="let nombre of localidades"
                  [value]="nombre.localidad"
                >
                  {{ nombre.localidad }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Tecnologia</mat-label>
              <mat-select multiple (selectionChange)="tecnologiaChange($event)">
                <mat-option
                  *ngFor="let nombre of tecnologias"
                  [value]="nombre._id.tipoRed"
                >
                  {{ nombre._id.tipoRed }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Operador</mat-label>
              <mat-select multiple (selectionChange)="operadorChange($event)">
                <mat-option
                  *ngFor="let nombre of operadores"
                  [value]="nombre._id.operador"
                >
                  {{ nombre._id.operador }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
              <input
                type="text"
                placeholder="Cell ID"
                aria-label="Number"
                matInput
                [formControl]="myControl"
                [matAutocomplete]="auto"
              />
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option
                  *ngFor="let option of filteredOptions | async"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <button
              mat-raised-button
              class="w-100"
              color="accent"
              (click)="graficar()"
            >
              Graficar
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm-8 d-flex align-items-center">
        <div class="card shadow-sm border-0 w-100" style="height: 470px">
          <div class="card-body">
            <app-boxload [show]="showLoadGraficaPingFiltro"></app-boxload>
            <h4 class="text-adjust">Grafico de latencias</h4>
            <p>Resultado de su seleccion</p>
            <app-grafico-lineas-ngxcharts
              [results]="datosGraficaPingFiltro"
              [showYAxisLabel]="true"
              [yAxisLabel]="'ms'"
              [height]="280"
            >
            </app-grafico-lineas-ngxcharts>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
