<div class="d-flex justify-content-between">
  <h4>Prefijos <span class="text-primary">Open Signal</span></h4>
</div>
<br />
<h5>Servidor</h5>

<div class="row">
  <div class="col-12" *ngIf="showLoadServer">
    <div class="alert alert-primary" role="alert">
      Cargando datos espere un momento porfavor ...
    </div>
  </div>

  <div class="col-sm-12" *ngFor="let item of datosPingServer">
    <div class="card shadow-sm my-2">
      <div class="card-body" style="height: 530px;">
        <h5 class="font-weight-light">{{ item.host }}</h5>
        <app-grafico-lineas-ngxcharts
          [results]="item.metricas"
          [showYAxisLabel]="true"
          [yAxisLabel]="'ms'"
        >
        </app-grafico-lineas-ngxcharts>
      </div>
    </div>
  </div>
</div>
