<div class="d-flex justify-content-between">
  <h4>nPerf DashBoard Movil</h4>
</div>

<div class="row animated fadeIn">
  <div class="col-12 col-lg-6">
    <div class="card shadow-sm my-1">
      <div class="card-body chart-body">
        <h5>
          <span class="text-primary">Historico</span> velocidad media nacional
        </h5>
        <app-grafico-lineas-ngxcharts
          [showYAxisLabel]="'true'"
          [yAxisLabel]="'Kbps'"
          [results]="datosVelocidades"
        ></app-grafico-lineas-ngxcharts>
      </div>
    </div>
    <div class="card shadow-sm my-2">
      <div class="card-body">
        <h5><span class="text-primary">Velocidad</span> promedio nacional</h5>
        <div *ngFor="let item of progressVelocidades" class="operador my-2">
          <div class="d-flex justify-content-between">
            <h6>{{ item.operador }}</h6>
            <span class="ml-auto">{{ item.puntos }} Kbps</span>
          </div>
          <div class="progress">
            <div
              [ngClass]="{
                'bg-danger': item.operador == 'claro',
                'bg-success': item.operador == 'movistar',
                'bg-warning': item.operador == 'bitel'
              }"
              class="progress-bar bg-danger"
              role="progressbar"
              [style.width]="item.porcentaje + '%'"
              style="width: 20%;"
              [attr.ariaValuenow]="item.porcentaje"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card shadow-sm my-1">
      <div class="card-body chart-body">
        <h5>
          <span class="text-primary">Historico</span> puntaje nacional movil
        </h5>
        <app-grafico-lineas-ngxcharts
          [results]="datos"
        ></app-grafico-lineas-ngxcharts>
      </div>
    </div>
    <div class="card shadow-sm my-2">
      <div class="card-body">
        <h5><span class="text-primary">Puntaje</span> nacional movil</h5>
        <div *ngFor="let item of puntaje" class="operador my-2">
          <div class="d-flex justify-content-between">
            <h6>{{ item.operador }}</h6>
            <span class="ml-auto">{{ item.puntos }}</span>
          </div>
          <div class="progress">
            <div
              [ngClass]="{
                'bg-danger': item.operador == 'claro',
                'bg-success': item.operador == 'movistar',
                'bg-warning': item.operador == 'bitel'
              }"
              class="progress-bar bg-danger"
              role="progressbar"
              [style.width]="item.porcentaje + '%'"
              style="width: 20%;"
              [attr.ariaValuenow]="item.porcentaje"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card my-1 animated fadeIn">
  <div class="card-body">
    <div class="form-inline">
      <h5><span class="text-primary">Tabla</span> puntaje nacional</h5>
      <button
        [routerLink]="['/nperf', 'nuevo']"
        class="btn btn-outline-primary ml-auto"
      >
        Agregar
      </button>
    </div>
    <br />
    <div class="table-responsive">
      <div class="tableFixHead mb-2">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th scope="col">Fecha</th>
              <th scope="col">Usuario</th>
              <th scope="col">Claro</th>
              <th scope="col">Entel</th>
              <th scope="col">Bitel</th>
              <th scope="col">Movistar</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody *ngIf="loadTablaPuntos">
            <tr>
              <td colspan="8">
                <div class="alert alert-info" role="alert">
                  <div class="d-flex align-items-center justify-content-center">
                    <div class="spinner-border text-info" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                    <span class="ml-2">Cargando datos ...</span>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr *ngFor="let puntos of puntajes; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ puntos.fecha_ingreso | date: "medium" }}</td>
              <td>
                <i class="icon-user-o"></i>
                {{ puntos.usuario.nombre | titlecase }}
              </td>
              <td>{{ puntos.claro }}</td>
              <td>{{ puntos.entel }}</td>
              <td>{{ puntos.bitel }}</td>
              <td>{{ puntos.movistar }}</td>
              <td>
                <button
                  type="button"
                  [ngClass]="{
                    'btn-secondary':
                      _usuarioService.usuario.correo !==
                        puntos.usuario.correo &&
                      _usuarioService.usuario.correo !==
                        'harold.japur@iclaro.com.pe',
                    'btn-dark':
                      _usuarioService.usuario.correo ===
                        puntos.usuario.correo ||
                      _usuarioService.usuario.correo ===
                        'harold.japur@iclaro.com.pe'
                  }"
                  [attr.disabled]="
                    _usuarioService.usuario.correo !== puntos.usuario.correo &&
                    _usuarioService.usuario.correo !==
                      'harold.japur@iclaro.com.pe'
                      ? 'disabled'
                      : null
                  "
                  class="btn btn-sm mx-1"  [routerLink]="['/nperf/', puntos._id]"
                >
               
                  Editar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="mb-3">
        <a
          href="javascript: void(0)"
          (click)="continuar(-5)"
          class="btn btn-outline-secondary"
        >
          <i class="icon-angle-double-left"></i> Atras
        </a>
        <a
          href="javascript: void(0)"
          (click)="continuar(5)"
          class="btn btn-outline-secondary mx-1"
        >
          Siguiente <i class="icon-angle-double-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="card my-1 animated fadeIn">
  <div class="card-body">
    <div class="form-inline">
      <h5>
        <span class="text-primary">Tabla</span> test velocidad movil nacional
      </h5>
      <button
        [routerLink]="['/nperf/velocidad', 'nuevo']"
        class="btn btn-outline-primary ml-auto"
      >
        Agregar
      </button>
    </div>
    <br />
    <div class="table-responsive">
      <div class="tableFixHead mb-2">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th scope="col">Fecha</th>
              <th scope="col">Usuario</th>
              <th scope="col">Claro</th>
              <th scope="col">Entel</th>
              <th scope="col">Bitel</th>
              <th scope="col">Movistar</th>
              <th scope="col">Accion</th>
            </tr>
          </thead>
          <tbody *ngIf="loadTablaVelocidades">
            <tr>
              <td colspan="8">
                <div class="alert alert-info" role="alert">
                  <div class="d-flex align-items-center justify-content-center">
                    <div class="spinner-border text-info" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                    <span class="ml-2">Cargando datos ...</span>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr *ngFor="let puntos of velocidades; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ puntos.fecha_ingreso | date: "medium" }}</td>
              <td>
                <i class="icon-user-o"></i>
                {{ puntos.usuario.nombre | titlecase }}
              </td>
              <td>{{ puntos.claro }}</td>
              <td>{{ puntos.entel }}</td>
              <td>{{ puntos.bitel }}</td>
              <td>{{ puntos.movistar }}</td>
              <td>
                <button
                  [ngClass]="{
                    'btn-secondary':
                      _usuarioService.usuario.correo !==
                        puntos.usuario.correo &&
                      _usuarioService.usuario.correo !==
                        'harold.japur@iclaro.com.pe',
                    'btn-dark':
                      _usuarioService.usuario.correo ===
                        puntos.usuario.correo ||
                      _usuarioService.usuario.correo ===
                        'harold.japur@iclaro.com.pe'
                  }"
                  [attr.disabled]="
                    _usuarioService.usuario.correo !== puntos.usuario.correo &&
                    _usuarioService.usuario.correo !==
                      'harold.japur@iclaro.com.pe'
                      ? 'disabled'
                      : null
                  "
                  type="button"
                  class="btn btn-sm mx-1"
                  [routerLink]="['/nperf/velocidad', puntos._id]"
                >
                  Editar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="mb-3">
        <a
          href="javascript: void(0)"
          (click)="continuarT2(-5)"
          class="btn btn-outline-secondary"
        >
          <i class="icon-angle-double-left"></i> Atras
        </a>
        <a
          href="javascript: void(0)"
          (click)="continuarT2(5)"
          class="btn btn-outline-secondary mx-1"
        >
          Siguiente <i class="icon-angle-double-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>
