<div class="d-flex justify-content-between">
  <h4>nPerf DashBoard Movil</h4>
</div>

<div class="row animated fadeIn">
  <div class="col-12 col-lg-6">
    <div class="card shadow-sm my-1">
      <div class="card-body chart-body">
        <h5>
          <span class="text-primary">Historico</span> velocidad media nacional
        </h5>
        <app-grafico-lineas-ngxcharts
          [showYAxisLabel]="'true'"
          [yAxisLabel]="'Kbps'"
          [results]="datosVelocidades"
        ></app-grafico-lineas-ngxcharts>
      </div>
    </div>
    <div class="card shadow-sm my-2">
      <div class="card-body">
        <h5><span class="text-primary">Velocidad</span> promedio nacional</h5>
        <div *ngFor="let item of progressVelocidades" class="operador my-2">
          <div class="d-flex justify-content-between">
            <h6>{{ item.operador }}</h6>
            <span class="ml-auto">{{ item.puntos }} Kbps</span>
          </div>
          <div class="progress">
            <div
              [ngClass]="{
                'bg-danger': item.operador == 'claro',
                'bg-success': item.operador == 'movistar',
                'bg-warning': item.operador == 'bitel'
              }"
              class="progress-bar bg-danger"
              role="progressbar"
              [style.width]="item.porcentaje + '%'"
              style="width: 20%;"
              [attr.ariaValuenow]="item.porcentaje"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card shadow-sm my-1">
      <div class="card-body chart-body">
        <h5>
          <span class="text-primary">Historico</span> puntaje nacional movil
        </h5>
        <app-grafico-lineas-ngxcharts
          [results]="datos"
        ></app-grafico-lineas-ngxcharts>
      </div>
    </div>
    <div class="card shadow-sm my-2">
      <div class="card-body">
        <h5><span class="text-primary">Puntaje</span> nacional movil</h5>
        <div *ngFor="let item of puntaje" class="operador my-2">
          <div class="d-flex justify-content-between">
            <h6>{{ item.operador }}</h6>
            <span class="ml-auto">{{ item.puntos }}</span>
          </div>
          <div class="progress">
            <div
              [ngClass]="{
                'bg-danger': item.operador == 'claro',
                'bg-success': item.operador == 'movistar',
                'bg-warning': item.operador == 'bitel'
              }"
              class="progress-bar bg-danger"
              role="progressbar"
              [style.width]="item.porcentaje + '%'"
              style="width: 20%;"
              [attr.ariaValuenow]="item.porcentaje"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card my-1 animated fadeIn shadow-sm">
  <div class="card-body">
    <div class="form-inline">
      <h5><span class="text-primary">Tabla</span> puntaje nacional</h5>
      <button
        [routerLink]="['/nperf', 'nuevo']"
        class="btn btn-outline-primary ml-auto"
      >
        Agregar
      </button>
    </div>
    <br />

    <table mat-table [dataSource]="datosTblPuntajeNacional">
      <!--Column Item-->
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td
          mat-cell
          *matCellDef="let element; let i = index"
          data-label="index"
        >
          {{ i + 1 }}
        </td>
      </ng-container>
      <!--Column Fecha-->
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef>FECHA</th>
        <td mat-cell *matCellDef="let element" data-label="fecha">
          {{ element.fecha_ingreso | date: "medium" }}
        </td>
      </ng-container>
      <!--Column Usuario-->
      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef>USUARIO</th>
        <td mat-cell *matCellDef="let element" data-label="usuario">
          {{ element.usuario.nombre | titlecase }}
          {{ element.usuario.apellido | titlecase }}
        </td>
      </ng-container>
      <!--Column Claro-->
      <ng-container matColumnDef="claro">
        <th mat-header-cell *matHeaderCellDef>CLARO</th>
        <td mat-cell *matCellDef="let element" data-label="claro">
          {{ element.claro }}
        </td>
      </ng-container>
      <!--Column Entel-->
      <ng-container matColumnDef="entel">
        <th mat-header-cell *matHeaderCellDef>ENTEL</th>
        <td mat-cell *matCellDef="let element" data-label="entel">
          {{ element.entel }}
        </td>
      </ng-container>
      <!--Column Bitel-->
      <ng-container matColumnDef="bitel">
        <th mat-header-cell *matHeaderCellDef>BITEL</th>
        <td mat-cell *matCellDef="let element" data-label="bitel">
          {{ element.bitel }}
        </td>
      </ng-container>
      <!--Column Movistar-->
      <ng-container matColumnDef="movistar">
        <th mat-header-cell *matHeaderCellDef>MOVISTAR</th>
        <td mat-cell *matCellDef="let element" data-label="movistar">
          {{ element.movistar }}
        </td>
      </ng-container>
      <!-- Column Acciones -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
        <td mat-cell *matCellDef="let element" data-label="acciones">
          <button
            [disabled]="
              _usuarioService.usuario.correo != element.usuario.correo &&
              _usuarioService.usuario.correo != 'harold.japur@iclaro.com.pe'
                ? 'disabled'
                : null
            "
            mat-mini-fab
            color="primary"
            [routerLink]="['/nperf/', element._id]"
          >
            <i class="icon-pencil"></i>
          </button>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="columnsTblPuntajeNacional; sticky: true"
      ></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: columnsTblPuntajeNacional"
      ></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
    <app-tableload [show]="loadTablaPuntos"> </app-tableload>

    <div class="my-3">
      <a
        href="javascript: void(0)"
        (click)="continuar(-10)"
        class="btn btn-outline-secondary"
      >
        <i class="icon-angle-double-left"></i> Atras
      </a>
      <a
        href="javascript: void(0)"
        (click)="continuar(10)"
        class="btn btn-outline-secondary mx-1"
      >
        Siguiente <i class="icon-angle-double-right"></i>
      </a>
    </div>
  </div>
</div>

<div class="card my-1 animated fadeIn shadow-sm">
  <div class="card-body">
    <div class="form-inline">
      <h5>
        <span class="text-primary">Tabla</span> test velocidad movil nacional
      </h5>
      <button
        [routerLink]="['/nperf/velocidad', 'nuevo']"
        class="btn btn-outline-primary ml-auto"
      >
        Agregar
      </button>
    </div>
    <br />

    <table mat-table [dataSource]="datosTblMovilNacional">
      <!--Column Item-->
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td
          mat-cell
          *matCellDef="let element; let i = index"
          data-label="index"
        >
          {{ i + 1 }}
        </td>
      </ng-container>
      <!--Column Fecha-->
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef>FECHA</th>
        <td mat-cell *matCellDef="let element" data-label="fecha">
          {{ element.fecha_ingreso | date: "medium" }}
        </td>
      </ng-container>
      <!--Column Usuario-->
      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef>USUARIO</th>
        <td mat-cell *matCellDef="let element" data-label="usuario">
          {{ element.usuario.nombre | titlecase }}
          {{ element.usuario.apellido | titlecase }}
        </td>
      </ng-container>
      <!--Column Claro-->
      <ng-container matColumnDef="claro">
        <th mat-header-cell *matHeaderCellDef>CLARO</th>
        <td mat-cell *matCellDef="let element" data-label="claro">
          {{ element.claro }}
        </td>
      </ng-container>
      <!--Column Entel-->
      <ng-container matColumnDef="entel">
        <th mat-header-cell *matHeaderCellDef>ENTEL</th>
        <td mat-cell *matCellDef="let element" data-label="entel">
          {{ element.entel }}
        </td>
      </ng-container>
      <!--Column Bitel-->
      <ng-container matColumnDef="bitel">
        <th mat-header-cell *matHeaderCellDef>BITEL</th>
        <td mat-cell *matCellDef="let element" data-label="bitel">
          {{ element.bitel }}
        </td>
      </ng-container>
      <!--Column Movistar-->
      <ng-container matColumnDef="movistar">
        <th mat-header-cell *matHeaderCellDef>MOVISTAR</th>
        <td mat-cell *matCellDef="let element" data-label="movistar">
          {{ element.movistar }}
        </td>
      </ng-container>
      <!-- Column Acciones -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
        <td mat-cell *matCellDef="let element" data-label="acciones">
          <button
            [disabled]="
              _usuarioService.usuario.correo != element.usuario.correo &&
              _usuarioService.usuario.correo != 'harold.japur@iclaro.com.pe'
                ? 'disabled'
                : null
            "
            mat-mini-fab
            color="primary"
            [routerLink]="['/nperf/velocidad', element._id]"
          >
            <i class="icon-pencil"></i>
          </button>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="columnsTblPuntajeNacional; sticky: true"
      ></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: columnsTblPuntajeNacional"
      ></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
    <app-tableload [show]="loadTablaVelocidades"> </app-tableload>


      <div class="my-3">
        <a
          href="javascript: void(0)"
          (click)="continuarT2(-10)"
          class="btn btn-outline-secondary"
        >
          <i class="icon-angle-double-left"></i> Atras
        </a>
        <a
          href="javascript: void(0)"
          (click)="continuarT2(10)"
          class="btn btn-outline-secondary mx-1"
        >
          Siguiente <i class="icon-angle-double-right"></i>
        </a>
      </div>
  </div>
</div>
