<div class="d-flex align-items-center">
  <img src="../../../assets/images/{{ view }}.svg" width="50" alt="logo" />
  <h4 class="mb-0 ml-1">
    Latencia a prefijos <span class="text-primary">Tutela</span>
  </h4>
</div>
<br />
<h5>Servidores de descarga de throughput</h5>

<div class="row">
  <div class="col-12" *ngIf="showLoadServerThrDownload">
    <div class="alert alert-primary" role="alert">
      Cargando datos espere un momento porfavor ...
    </div>
  </div>

  <div class="col-sm-6" *ngFor="let item of datosPingServerThrDownload">
    <div class="card shadow-sm my-2">
      <div class="card-body" style="height: 530px;">
        <h5 class="font-weight-light">{{ item.host }}</h5>
        <app-grafico-lineas-ngxcharts
          [results]="item.metricas"
          [showYAxisLabel]="true"
          [yAxisLabel]="'ms'"
          [height]="400"
        >
        </app-grafico-lineas-ngxcharts>
      </div>
    </div>
  </div>
</div>

<br />
<h5>Servidores de subida de throughput</h5>

<div class="row">
  <div class="col-12" *ngIf="showLoadServerThrUpload">
    <div class="alert alert-primary" role="alert">
      Cargando datos espere un momento porfavor ...
    </div>
  </div>

  <div class="col-sm-6" *ngFor="let item of datosPingServerThrUpload">
    <div class="card shadow-sm my-2">
      <div class="card-body" style="height: 530px;">
        <h5 class="font-weight-light">{{ item.host }}</h5>
        <app-grafico-lineas-ngxcharts
          [results]="item.metricas"
          [showYAxisLabel]="true"
          [yAxisLabel]="'ms'"
          [height]="400"
        >
        </app-grafico-lineas-ngxcharts>
      </div>
    </div>
  </div>
</div>

<br />
<h5>Servidores de video</h5>

<div class="row">
  <div class="col-12" *ngIf="showLoadServerVideo">
    <div class="alert alert-primary" role="alert">
      Cargando datos espere un momento porfavor ...
    </div>
  </div>

  <div class="col-sm-6" *ngFor="let item of datosPingServerVideo">
    <div class="card shadow-sm my-2">
      <div class="card-body" style="height: 530px;">
        <h5 class="font-weight-light">{{ item.host }}</h5>
        <app-grafico-lineas-ngxcharts
          [results]="item.metricas"
          [showYAxisLabel]="true"
          [yAxisLabel]="'ms'"
          [height]="400"
        >
        </app-grafico-lineas-ngxcharts>
      </div>
    </div>
  </div>
</div>

<br />
<div class="row">
  <div class="col-sm-6">
    <div class="card shadow-sm">
      <div class="card-body" style="height: 700px;">
        <app-boxload [show]="showloadCharVideo"></app-boxload>
        <h5 class="font-weight-light">Promedio del dia</h5>
        <mat-divider></mat-divider>
        <app-ngxcharts-group-bar-horizontal
          [results]="dataPing"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [xAxisLabel]="'ms'"
          [showDataLabel]="true"
          [yAxisLabel]="'IPs Tutela Video'"
          [height]="550"
        ></app-ngxcharts-group-bar-horizontal>
      </div>
    </div>
  </div>
</div>
