<aside class="sidebar">
  <div class="scroll-sidebar">
    <ul>
      <li>
        <a href="#">
          <span class="icon"></span>
          <span class="item">Opcion1</span>
        </a>
      </li>
      <li>
        <a href="#" class="active">
          <span class="icon-amazon icon"></span>
          <span class="item">Amazon</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon icon-meter2"></span>
          <span class="item">nPerf</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"></span>
          <span class="item">Opcion1</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
