<aside class="sidebar">
  <div class="scroll-sidebar">
    <ul class="menu">
      <li class="item-menu">
        <a
          routerLinkActive="active"
          class="has-arrow"
          [routerLink]="['/opensignal']"
        >
          <span class="icon-podcast icon"></span>
          <span class="item">Open Signal</span>
        </a>
      </li>
      <li class="item-menu">
        <a
          routerLinkActive="active"
          class="has-arrow"
          [routerLink]="['/tutela']"
        >
          <span class="icon-wi-fi icon"></span>
          <span class="item">Tutela</span>
        </a>
      </li>
      <li class="item-menu">
        <a
          routerLinkActive="active"
          class="has-arrow"
          [routerLink]="['/amazon']"
        >
          <span class="icon-amazon icon"></span>
          <span class="item">Amazon</span>
        </a>
      </li>
      <li class="item-menu">
        <a
          data-toggle="collapse"
          data-target="#nperf"
          aria-expanded="false"
          class="has-arrow"
        >
          <span class="icon icon-meter2"></span>
          <span class="item">nPerf</span>
        </a>
        <ul class="collapse submenu" id="nperf">
          <li>
            <a routerLinkActive="active" [routerLink]="['/nperf/movil']"
              >Movil</a
            >
          </li>
          <li>
            <a routerLinkActive="active" [routerLink]="['/nperf/fijo']">Fijo</a>
          </li>
        </ul>
      </li>
      <li class="item-menu">
        <a
          data-toggle="collapse"
          data-target="#mantenimiento"
          aria-expanded="false"
          class="has-arrow"
        >
          <span class="icon-lab icon"></span>
          <span class="item">Mantenimiento</span>
        </a>
        <ul class="collapse submenu" id="mantenimiento">
          <li>
            <a
              routerLinkActive="active"
              [routerLink]="['/mantenimiento/amazon']"
              >Amazon</a
            >
          </li>
          <li>
            <a
              routerLinkActive="active"
              [routerLink]="['/mantenimiento/usuarios']"
              >Usuarios</a
            >
          </li>
          <li>
            <a
              routerLinkActive="active"
              [routerLink]="['/mantenimiento/tutela']"
              >Tutela</a
            >
          </li>
          <li>
            <a
              routerLinkActive="active"
              [routerLink]="['/mantenimiento/opensignal']"
              >Open Signal</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</aside>
