@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");
@import url(./assets/css/icomoon.css);

body {
  background: #fff;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  overflow-x: hidden;
  color: #67757c;
  font-weight: 300;
}

/*-- =====================================================
 SECTION DONDE SE MOSTRARA LOS DATOS
 ========================================================*/
.main {
  background: #f4f6f9;
  padding-bottom: 60px;
  position: relative;
  padding-top: 70px;
  min-height: 100vh;
  transition: all 0.3s ease;
}

/*-- =====================================================
ESTILOS TABLA
========================================================*/
.tableFixHead {
  overflow-y: auto;
  height: 400px;
}
.tableFixHead thead th {
  position: sticky;
  top: 0;
  background-color: #fff;
}

.tableFixHead,
.tableFixHead td {
  box-shadow: inset 1px -1px rgba(0, 0, 0, 0.125);
}
.tableFixHead th {
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.125), 0 1px rgba(0, 0, 0, 0.125);
}

/*-- =====================================================
CONTENEDOR DE CHART NGX 
========================================================*/
.chart-container {
  display: grid;
  height: 400px;
}

.chart-body {
  height: 530px;
}

.chart {
  display: grid;
  height: 300px;
}

/*---------------------------*/
/*  TAMAÑOS */
/*---------------------------*/
.w-25 {
  width: 25% !important;
}

/*---------------------------*/
/*  CARDS */
/*---------------------------*/
.card .card-subtitle {
  font-weight: 300;
  margin-bottom: 15px;
  color: #99abb4;
}
.card .card-title {
  position: relative;
}

/*---------------------------*/
/*  MINI SIDEBAR */
/*---------------------------*/
.mini-sidebar .sidebar .scroll-sidebar > ul > li > a span.item {
  display: none;
}

.mini-sidebar aside.sidebar {
  width: 65px;
}

.mini-sidebar .main {
  margin-left: 65px;
}

.mini-sidebar .has-arrow::after {
  display: none;
}

/*---------------------------*/
/*  LEYENDA EN GRAFICAS NGXCHARTS */
/*---------------------------*/
.legend-labels {
  display: flex !important;
  flex-wrap: wrap !important;
}

/*--
ESTILOS SORT TABLE
*/
/* table.sortable span.sign,
table.sortable th:after {
  display: block;
  position: absolute;
  top: 50%;
  right: 5px;
  font-size: 12px;
  margin-top: -10px;
  color: #bfbfc1;
}
table.sortable th.arrow:after {
  content: "";
}
span.reversed,
table.sortable span.arrow,
th.arrow.down:after,
th.arrow.up:after,
th.reversedarrow.down:after,
th.reversedarrow.up:after {
  border-style: solid;
  border-width: 5px;
  font-size: 0;
  border-color: #ccc transparent transparent;
  line-height: 0;
  height: 0;
  width: 0;
  margin-top: -2px;
}
table.sortable span.arrow.up,
table.sortable span.reversed,
th.arrow.up:after,
th.reversedarrow.down:after {
  border-color: transparent transparent #ccc;
  margin-top: -7px;
}
table.sortable span.reversed.up,
th.reversedarrow.up:after {
  border-color: #ccc transparent transparent;
  margin-top: -2px;
}
table.sortable span.az:before,
th.az.down:after {
  content: "a .. z";
}
table.sortable span.az.up:before,
th.az.up:after {
  content: "z .. a";
}
table.sortable th.az.nosort:after,
th.AZ.nosort:after,
th._19.nosort:after,
th.month.nosort:after {
  content: "..";
}
table.sortable span.AZ:before,
th.AZ.down:after {
  content: "A .. Z";
}
table.sortable span.AZ.up:before,
th.AZ.up:after {
  content: "Z .. A";
}
table.sortable span._19:before,
th._19.down:after {
  content: "1 .. 9";
}
table.sortable span._19.up:before,
th._19.up:after {
  content: "9 .. 1";
}
table.sortable span.month:before,
th.month.down:after {
  content: "jan .. dec";
}
table.sortable span.month.up:before,
th.month.up:after {
  content: "dec .. jan";
}
table.sortable thead th:not([data-defaultsort="disabled"]) {
  cursor: pointer;
  position: relative;
  top: 0;
  left: 0;
}
table.sortable thead th:hover:not([data-defaultsort="disabled"]) {
  background: #efefef;
}
table.sortable thead th div.mozilla {
  position: relative;
}
span.groupbox {
  position: absolute;
  display: block;
  margin-top: -30px;
  margin-left: -5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #f5f5f5;
} */

/*-- =====================================================
 LOAD STYLES
 ========================================================*/
.preload {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #77b3d4;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.cloud1,
.cloud2,
.cloud3 {
  height: 100px;
  position: absolute;
  right: 0px;
  z-index: -1;
}

.cloud1 {
  top: 25%;
  transform: translateX(100%, -25%);
  animation: clouds 3s ease infinite;
}

.cloud2 {
  top: 50%;
  transform: translateX(100%, -50%);
  animation: clouds 3s ease infinite 1s;
}
.cloud3 {
  top: 75%;
  transform: translateX(100%, -75%);
  animation: clouds 3s ease infinite 1.5s;
}

.airplane {
  height: 200px;
  animation: airplane 1s ease infinite alternate;
}

.preload h1 {
  position: absolute;
  top: 70%;
  transform: translateY(-70%);
  color: white;
  font-size: 50px;
}
.preload h5 {
  position: absolute;
  top: 75%;
  transform: translateY(-75%);
  color: white;
  font-size: 30px;
}

@keyframes airplane {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(50px);
  }
}

@keyframes clouds {
  from {
    right: 0%;
  }
  to {
    right: 130%;
  }
}

/*-- =====================================================
 RESPONSIVE SCREEEN
 ========================================================*/
@media (min-width: 1024px) {
  .main {
    margin-left: 240px;
  }
}

@media (max-width: 1023px) {
  .main {
    margin-left: 70px;
    transition: 0.2s ease-in;
  }

  .sidebar {
    width: 65px;
  }

  .sidebar .scroll-sidebar > ul > li > a span.item {
    display: none;
  }
}

@media (max-width: 412px) {
  .main {
    margin-left: 0px;
    transition: 0.2s ease-in;
  }

  .sidebar {
    left: -100%;
    width: 70px;
    transition: 0.2s ease;
  }

  .sidebar.show {
    left: 0;
    width: 70px;
    transition: 0.2s ease-in;
    z-index: 100;
  }

  .sidebar.show .scroll-sidebar > ul > li > a span.item,
  .sidebar.show .scroll-sidebar > ul > li > a span.icon {
    display: inline-block;
  }

  .login-box {
    width: 100%;
  }

  .sidebar .scroll-sidebar > ul > li > a span.item,
  .sidebar .scroll-sidebar > ul > li > a span.icon {
    display: none;
  }

  .navbar-nav > .nav-item.show .dropdown-menu {
    width: 100%;
    margin-top: 0px;
  }

  .navbar-nav > .nav-item.show .dropdown-menu {
    position: absolute;
  }
}

/*-- =====================================================
 RESPONSIVE CHART
 ========================================================*/
/* @media (max-width: 412px) {
  body .ngx-charts {
    width: 100%;
  }

  body .tooltip-area {
    width: 100%;
  }
} */
